/*CSS */

/*Change the background-image of my body section. The image is stored in the img folder.
Selected a bit of margin to the body of this document.
Changed the font-family.*/    
body {
    background-image: url(../img/body.jpg);
    margin:20px;
    font-family: 'Bahiana';
}

/*By hovering any button element the opacity should change.*/
button:hover {
    opacity: 0.6;
}

/*Setting a background-color for the div container*/
.container {
    background-color: black;
}

/*  Set the margin-bottom to 0 to eliminate the gap between the jumbotron and my navbar.
    Set a background image for this class.
    Set the color for every text inside the jumbotron using hexadecimal.*/
.jumbotron {
    margin:10px 0 0px 0;
    background-image: url(../img/jumbotron.jpg);
    background-size:auto;
    color: #fff;
}

/*Changing the h1 elements inside this class.*/
.jumbotron h1{
font-size: 100px;
text-align: left;
text-decoration:underline overline #FF3028;
}

/*Changing the p elements inside this class.*/
.jumbotron p {
  font-size: 25px;
}

/*Change the background-color of my non-active navbar elements when hovering the cursor onto it.*/
.nav-item a:hover:not(.active) {
    background-color: #FF3028;
}

/*Change the background-color of my dropdown elements when hovering the cursor onto it.*/
.dropdown:hover .dropbtn {
  background-color: #FF3028;
}

/*Change the background-color of my active item in the navbar.
  Change text-decoration.*/
.nav-item.active {
    background-color: rgba(4, 247, 4, 0.8);
    text-decoration:underline #fff;
}

/* Setting a background-image to the navbar.*/
.navbar {
    background-image: url(../img/wallpaper.png);
}

/*Setting a bit of padding for the items in the navbar and increasing the size of their font.*/
.nav-item {
    padding: 1px;
    font-size: 30px;
}

/*Setting padding and margin properties for the <li> elements of the navbar.*/
.navbar-nav>li {
    padding: 0 20px;
    margin: 0 15px;
}

/*Setting border, margin and padding properties for the the elements within these classes.
  Inheriting the background settings from its parent element, as well as type of font.
  Adding text-decoration settings.*/
.dropdown .dropbtn { 
  border: none;
  color: white;
  padding: 6px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-decoration:underline #fff;
}

/*Setting dropwdown-content to none.*/
.dropdown-content {
  display: none;
}

/*Setting dropwdown-content to be displayed when hovering the mouse onto it.*/
.dropdown:hover .dropdown-content {
  display: block;
}

/*  Aligning my page heading to the center of the page.
    Set the margin (top and bottom) to 10px to add some gap between this element and the previous and next divs.
    Adding some padding and border to it.
    Adding text-decoration to the headings that belong to this class.
    Adding a background-image.*/
.text_heading {
    text-align: center;
    margin: 10px 0;
    color: white;
    padding-top: 20px;
    border: black solid 1px;
    text-decoration: underline overline #FF3028;
    background-image: url(../img/wallpaper.png);
}

/*Changing the font of all h1 elements inside this class.*/
.text_heading h1 {

  font-size: 60px;
}

/*Setting width, height and margin properties to this element.*/
#welcome_pic {
    width: 70%;
    height:70%;
    margin-left: 170px;
}

/*Added some top and left-padding to this element in order to align it where I wanted it to be positioned.
  Increasing the font-size.*/
.pagination {
    padding-top: 10px;
    padding-left: 400px;
    font-size: 30px;
}

/*  Setting width, height, margin, border and padding properties to this div element.
    Setting a background color for this element (using hexadecimal).
    Setting border-radius to make the edges a bit round, instead of square.
    Setting the overflow as hidden instead of scroll.*/
#login_box {
    width: 700px;
    height: 100%;
    margin: 50px auto;
    overflow: hidden;
    padding: 80px;
    background-color: #1e3d37;
    border-radius: 25px;
    border: 5px solid rgb(68, 192, 68);
}

/*Setting width, padding, margin and border properties to these specific button elements.
  Text color inside the button should be white.
  I changed the cursor to default, so instead of having a small hand with a finger pointing up, I'll have the standard cursor.*/
 #large-button, #large-button2 {
    width: 100%;
    color: white;
    padding: 15px;
    margin: auto;
    border: none;
    cursor:default;
    font-size: 30px;
}

/*Setting some padding to this div element.
  Setting the margin-left to make the elements within this div more centralized.*/
.username {
    padding:15px;
    margin-left: 60px;
}

/*Setting the color and size of this element.*/
#eye {
  color: white;
  font-size:36px;
}

/*Added some padding, border, text color to this div element. Added the size of the font.
  Set it to display none, because the content within this element should be hidden, since javaScript is being implemented to change this behaviour.*/
#pass_criteria {
    padding: 15px;
    border: 1px solid whitesmoke;
    color:bisque;
    display: none;
    font-size: 22px;
}

/* Setting a specific text color for every label element.
   Increasing the font-size and setting the margin to bring this label to the center of the div that embodies it.*/
label {
    color: #FF3028;
    font-size: 50px;
    margin-left: 210px;   
}

/*Establishing some width, margin, padding and border to the password input field.
  Setting border-radius to make the edges a bit round, instead of square.
  I changed the font-family here to make it clearer if input contained lowercase and uppercase.*/
#pword {
    width: 100%;
    margin: 8px 0;
    padding: 10px 10px;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 25px;
    font-family: cursive;
}

/*Changing text color, family and size of password input field placeholder.*/
#pword::placeholder {
    color:#FF3028;
    font-size: 25px;
    font-family: "Bahiana";
}

/*Setting margin-left to this element to make it more centralized.*/
#eye {
  margin-left: 250px;
}

/*Set both of these to display none, because the content within these elements should be hidden, since javaScript is being
  implemented to change this behaviour.
  Setting text color, aligning it to the center, increasing the font and establishing a bold effect.*/
#invalid, #valid {
color: #FF3028;
display: none;
text-align: center;
font-size: 30px;
font-weight: bold;
}

/*Setting the width for the elements of this class.*/
.locker {
  width: 40px;
}

/*Setting padding, margin and border properties to this specific button element.
  Text color inside this button should be white.
  I changed the cursor to 'grab', so instead of having a small hand with a finger pointing up, I'll have a small hand 'grabbing'.*/
#getRandCustomers {
    color: white;
    padding: 15px;
    margin-left: 450px;
    border: none;
    cursor:grab;
}

/*Setting a background-color for this div element by using the name of the color and adding some padding to it.*/
#randomCustomers {
    background-color: black;
    padding: 20px;    
}

/*Setting border and padding properties to this div.
  Setting a background-color as well.*/
#output {
    border: none;
    padding: 50px;
    background-color: black;
}

/*Setting width and margin properties for this element.
  Setting visibility to 'visible', since js is being used to change this behaviour to hidden.*/
#client {
  width: 50%;
  visibility: visible;
  margin-left: 250px;
}

/*Setting border and padding properties for the div menu.
  Setting text color and background-color.*/
#menu {
      border: 5px solid black;
      color: white;
      padding: 100px 20px;
      background-color: black;
  }

/*Increasing the font-size for this element and aligning it to the center of the div in which it is located.
  Also adding a background-image.*/
#heading {
      font-family: 'Bahiana';
      font-size: 150px;
      text-align: center;
      padding: 70px;
      background-image: url(../img/menu.jpg);
}

/*Establishing a background-color for these divs as well as text color, size and border properties.*/
.table_of_contents,
.table_of_contents1,
.table_of_contents2,
.table_of_contents3,
.table_of_contents4,
.table_of_contents5 {

      background-color: white;
      color: black;
      border: 1px solid black;
      font-size: 32px;
  }

/*Increasing the font-size of the text within this class.*/
.badge {
    font-size: 37px;
}

/*Increasing the font-size of all <h1> within these elements.*/
#starters h1, #pizza h1, #desserts h1, #drinks h1, #vegetarian h1 {

    font-size: 80px;
}
  
table h3, table h2{
    font-size: 35px;
}


.total {

    font-size: 65px;
}

/*Adding some padding to the heading, row and column elements of a table.*/
th, tr, td {

      padding: 10px 25px;
   
  }

/*Changing the background-color of all heading elements.
    Changing text color of the text within this element.
    Adding some padding to this element.*/
th {
      background-color: black;
      color: white;
      padding: 30px;  
}

/*The :nth-child(even) selects all the even rows of this table.
    Setting that all the even rows will have a specific background-color, which is different from the odd rows within the same table.*/
tr:nth-child(even) {
      background-color: #f2f2f2
  }

/*Setting a background-color for these div elements and increasing the font-size.*/
#totalStarters, #totalPizza, #totalDessert, #totalDrinks, #totalVeggie, #totalNonVeg, #vegetarianCost {
      background-color: rgb(22, 197, 22);
      font-size: 35px;
  }

#totalPrice {
    background-color: rgb(228, 206, 15);
}

/*Setting text color for the elements within this div.*/
.content  {
    color: white;
    font-size: 30px;
}

/*Setting width, border and padding properties to this element.
  Added some text color to it.
  I changed the cursor to default, so instead of having a small hand with a finger pointing up, I'll have the standard cursor.*/
#toggle {
    width: 100%;
    color: white;
    padding: 15px;
    margin: auto;
    border: none;
    cursor:default;
}

/*Setting it to display none, because the content within this element should be hidden, since javaScript is being 
  implemented to change this behaviour.
  Setting text color for the elements within this div.
  Adding some border properties and background-color.*/
  .discover {
    display: none;
    color: white;
    border: 2px  solid white;
    border-radius: 3px;
    background-color: rgb(25, 136, 25);
}

/*Setting some margin, border and padding to this element.
  Setting border-radius to make the edges a bit round, instead of square.*/
#group {
  
    margin-left: 250px;
    border-radius: 13px;
    padding-bottom: 20px;
 }

 /*Setting it to display none, because the content within this element should be hidden, since javaScript is being 
  implemented to change this behaviour.
  Setting text color for the elements within this div.
  Adding some border properties and background-color.*/
.history {
  display: none;
  color:white;
  border: 2px  solid white;
  border-radius: 3px;
  background-color: salmon;
}

/*Setting it to display none, because the content within this element should be hidden, since javaScript is being 
  implemented to change this behaviour.*/
.wall-of-history{
    display: none; 
    width: 100%;
}

/*Increasing the font-size of this element.*/
.btn {
  font-size: 30px;
}

/*Setting a background image for this div element and adding some padding to it.*/
#animation {
  background-image: url(../img/pizza.gif);
  background-repeat: no-repeat;
  padding:200px;
}

/*Setting padding, margin and border properties to this specific button element.
  Text color inside this button should be white.
  I changed the cursor to 'grab', so instead of having a small hand with a finger pointing up, I'll have a small hand 'grabbing'.*/
#gal {
    color: white;
    padding: 13px;
    margin-bottom: 30px;
    margin-left: 520px;
    border: none;
    cursor:grab;
}

/*Set it to display none, because the content within this element should be hidden, since javaScript is being implemented to change this behaviour.*/
#gallery {
    
  display: none;
}

/*Setting border properties to this element.*/
#text {
  border:1px solid black;
}

/*Setting the margin to make this element more centralized and border-radius to make it rounder around the edges.*/
#review_rate {
  margin-left: 400px;
  border-radius: 10px;
}

/*Setting margin properties to this element.*/
#getJSON {

  margin-left: 100px;
  margin-bottom: 20px;
}

/*Setting margin properties to this element.*/
#show {   
    margin: 0 0 20px 600px;
}
  
/*Setting a background-color. 
  All text inside this div class will be aligned to the center.
  Setting a border: color, type of line and density of it.
  Setting text color.*/
.col-sm-6 {
    background-color:white;
    text-align:center;
    border:#fff double 5px;  
    color:black; 
}

/*Setting it to display none, because the content within this element should be hidden, since javaScript is being implemented to change this behaviour.
Added some padding-top to align the content within this div to the content from the other half of this 50/50 grid.*/
.reviews {
    display: none;    
    padding-top: 24px;
  }

/*Increasing the size of all h1 elements within this class.*/
.reviews h1 {
  font-size: 70px;
}

/*Added some padding to this element.
Set it to display none, because the content within this element should be hidden, since javaScript is being implemented to change this behaviour.
Increasing the font-size.*/
#panel1 {
    padding: 50px;
    display: none;
    font-size: 35px;;
}

/*Changing some font properties of all h2 elements within this class.*/
.jumbotron h2 {
  font-size: 70px;
  text-decoration:overline underline #FF3028;
}

/*END*/