/*Change the background-color of my body section.
Selected a margin to the body of this document, so my 50/50 grid would not be all the way to the top of the page, being more centralized instead.*/    
body {

   /* background-image: url(../img/background.jpg);*/
    background-color: black;
    background-image: url(../img/body.jpg);
    margin:10px;
}
/*I set customized margins for both of my jumbotrons.
Set an image for the background of this element. The image is stored in the img folder.*/
.jumbotron {
    margin:10px 0 0px 0;
    background-color: black;
    opacity: 0.9;
    color: #fff;
}
/*Change the background-color of my navbar elements when I hover my mouse onto it - not active class.*/
.nav-item a:hover:not(.active) {
    background-color: rgb(182, 176, 176);
}
/*Change the background-color of my active item in the navbar*/
.nav-item.active {
    background-color: grey;
}
.navbar {
    margin: 15px 0;
}
/*ADD COMMENTS HERE*/
.logo {

    background-color: white;
    padding: 15px;
    border: white solid 1px;
    margin: 20px 0px 20px 270px;
   
}

/*All text inside this div class will be aligned to the center.
  Setting a border: color, type of line and density of it.
  Setting a background-color. Chose white so it wouldn't mix with the background of the other column - beige.*/
  .col-sm-6 {
    background-color:white;
    text-align:center;
    border:#fff double 5px;   
}

/*Selecting a width to this div that contains my avatar profile picture.*/
.image_box {
    width:auto;
}
/*Selecting a width to this div, so the picture gets more centralized.*/
.right_row_pic {
    height:100%;
    width:100%;
    object-fit:cover;
}
